body {
    font-family: 'Raleway', sans-serif;
    color:
RGB(102, 102, 102)
}


.btn-primary {
  
    margin-right: 50px;
    padding: 0.375rem 0.75rem;


}

.nav-pills{
    padding-right: 5px;
    color: #5CE7CE;
    font-weight: 600;

}

    .nav-item-1 a,
    .nav-item a,
    .btn-signup {
        color: #5CE7CE;
        }

    
    
    .btn-signup:hover {
        color: #ffff; 
        background-color:#5CE7CE ; 
        
    }
    .btn-signup {
        background-color: #5CE7CE; 
        border-color: #5CE7CE; 
        color: #ffff
        ;
    }
    

    .display-5 {
        font-weight: 400;
        font-size: 32px 
    
    }
    .display-4{
        font-size: 32px;
        font-weight: 700;
    }
    .lead {
        font-size: 16px; 
    }
    
    .text{
        
        font-size: 32px;
        font-weight: bold;
    }

.nav-item{
    color: #5CE7CE;
}
.fs-4{
    font-size: medium;
    font-weight: 500;
    color: #5CE7CE;
}

.container{
    padding-top: 60px;
    padding-bottom: 60px;

}
.btn{
    
    background-color: #5CE7CE;
    font-size: 16px;
    color: white;
    
}
.bordered-text {
    font-weight: bold;
}